
<!-- Right Panel -->
<div id="right-panel" class="right-panel">
    <!-- Header-->
    <!-- /header -->
    <!-- Header-->
       
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-12 col-sm-12">
                    <div class="col-4 col-sm-4">
                        <h1>Items</h1>
                    </div>

                    <div class="col-6 col-sm-8 text-light">
                          
                        <a class="btn btn-outline-secondary pull-right" style="margin-right:10px" href="/addItem" >Add</a>
                        <button class="btn btn-outline-secondary pull-right " style="margin-right:10px">Data Range</button>
                        <button class="btn btn-outline-secondary pull-right" style="margin-right:10px">Export</button>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="card">
                          
                        <div class="card-body">
                            <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Category</th>
                                        <th>Description</th>
                                        <th>Price</th>
                                        <th>Stock</th>
                                        <th>Image</th>
                                        <th>Barcode</th>
                                        <th>Modefier</th>
                                        <th>Delete</th>
                                        <th>Dactivate</th>
                                    </tr>
                                </thead>
                              

                                <tbody>
                                        <% if(typeof data !== 'undefined'){ 
                                            data.forEach(function(items){%>
                                    <tr>
                                        <td><%= items.item_name %></td>
                                        <td><%= items.category %></td>
                                        <td><%= items.description %></td>
                                        <td><%= items.price %></td>
                                        <td><%= items.stock %></td>
                                        <td><%= items.image %></td>
                                        <td><%= items.barcode %></td>
                                        <td><%= items.modefier %></td>
                                     <td> <a id ="delete" href="javascript:void(0)" attr_id="<%= items.itemid %>" class="btn btn-danger pull-right" style="margin-right:10px;background-color:crimson ;" >Delete</a></td>
                                     <td> <button  class="btn btn-danger pull-right" style="margin-right:10px;background-color:crimson ;" >Deactivate</button></td>
                                    </tr>
                                
                                    <% }); } %>
                                </tbody>
                              
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div><!-- .animated -->
    </div><!-- .content -->

</div><!-- /#right-panel -->
<!-- Right Panel -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $(document).on('click','#delete',function(){
        var id  = $(this).attr('attr_id');
       var option = window.confirm("Are you sure to delete ?");
       if(option == true){
        $.ajax({
            type:"GET",
            url:'/itemDelete/'+id,
            success: function(){
                location.reload();
            }
        });
       }else{
           console.log("cancel deleted");
       }
    });
});

</script>



