
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <!-- /header -->
        <!-- Header-->

        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-12 col-sm-12">
                        <div class="col-4 col-sm-4">
                            <h1>Users</h1>
                        </div>

                        <div class="col-6 col-sm-8 text-light">

                            <button class="btn btn-outline-secondary pull-right" style="margin-right:10px" data-toggle="modal" data-target="#staticModal">Add New User</button>

                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="card">

                            <div class="card-body">
                                <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Pin</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <% if(typeof data !='undefined'){
                                        data.forEach(function(user){ %>
                                        <tbody>
                                            <tr>
                                                <td><%= user.First_Name %></td>
                                                <td><%= user.Last_Name %></td>
                                                <td><%= user.Pin %></td>
                                             <td><a href="javascript:void(0)" id="edit" class="btn btn-success" attr_id="<%= user.userid %>"   data-toggle="modal" data-target="#staticModal1" >Edit</a></td>
                                             <td><a id="delete" href="javascript:void(0)" attr_id="<%= user.userid %>" class="btn btn-danger" >Delete</a></td>
                                            </tr>

                                        </tbody>
                                        <%  });} %>

                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div><!-- .animated -->
        </div><!-- .content -->

    </div><!-- /#right-panel -->
    <!-- Right Panel -->
    <div class="modal fade" id="staticModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticModalLabel">Add new  user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="/UserDataInserted">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="cc-payment"  class="control-label mb-1">First name</label>
                        <input name="firstName" id="firstName" type="text" class="form-control" aria-required="true" aria-invalid="false" >
                    </div>
                    <div class="form-group has-success">
                        <label for="cc-name" class="control-label mb-1">Last name</label>
                        <input name="lastName" id="lastName" type="text" class="form-control cc-name valid" data-val="true" data-val-required="Please enter the name on card" autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error">
                        <span class="help-block field-validation-valid" data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group has-success">
                        <label for="cc-name" class="control-label mb-1">Email</label>
                        <input name="email" value="<%= data.email %>" id="email" type="text" class="form-control cc-name valid" data-val="true" data-val-required="Please enter the name on card" autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error">
                        <span class="help-block field-validation-valid" data-valmsg-for="cc-email" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group has-success">
                        <label for="cc-name" class="control-label mb-1">Password</label>
                        <input name="password" value="<%= data.password %>" id="password" type="password" class="form-control cc-name valid" data-val="true" data-val-required="Please enter the name on card" autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error">
                        <span class="help-block field-validation-valid" data-valmsg-for="cc-password" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label for="cc-number" class="control-label mb-1">User pin</label>
                        <input id="pin" name="pin" type="tel" class="form-control cc-number identified visa" value="" data-val="true" data-val-required="Please enter the card number" data-val-cc-number="Please enter a valid card number" autocomplete="cc-number">
                        <span class="help-block" data-valmsg-for="cc-number" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label for="cc-number" class="control-label mb-1">Admin</label>
                        <input name="isAdmin" id="isAdmin" "<% if(data.isAdmin){ %>checked<% } %>" type="checkbox" class="form-control checkbox cc-number" value="" data-val="true" data-val-required="Please enter the card number" data-val-cc-number="Please enter a valid card number" autocomplete="cc-number">
                        <span class="help-block" data-valmsg-for="cc-number" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="modal-footer">
             <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
            </div>
        </div>
    </div>






<div class="modal fade" id="staticModal1" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticModalLabel">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

                <form name="myform" method="post" action="/userUpdate">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="cc-payment"  class="control-label mb-1">First name</label>
                            <input name="firstname"   id="firstname" type="text" class="form-control" aria-required="true" aria-invalid="false" >
                        </div>
                        <div class="form-group has-success">
                            <label for="cc-name" class="control-label mb-1">Last name</label>
                            <input name="lastname"  id="lastname" type="text" class="form-control cc-name valid" data-val="true" data-val-required="Please enter the name on card" autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error">
                            <span class="help-block field-validation-valid" data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group">
                            <label for="cc-number" class="control-label mb-1">User pin</label>
                            <input id="userpin"  name="userpin" type="tel" class="form-control cc-number identified visa" value="" data-val="true" data-val-required="Please enter the card number" data-val-cc-number="Please enter a valid card number" autocomplete="cc-number">
                            <span class="help-block" data-valmsg-for="cc-number" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input id="userid" type="hidden" name="userid" type="tel" class="form-control cc-number identified visa" value="" data-val="true" data-val-required="Please enter the card number"
                            data-val-cc-number="Please enter a valid card number" autocomplete="cc-number">

                    </div>
                    <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>


        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $(document).on('click','#delete', function(){
        var id = $(this).attr('attr_id');
        var option = window.confirm("Are you sure to delete ?");
        if(option ==  true){
            $.ajax({
                type:"GET",
                url:"/userDelete/"+ id,
                success: function(){
                    location.reload();
                }
            });
        }else{
            console.log("Not deleted");
        }

    });
    $(document).on('click','#edit', function(){
        var id = $(this).attr('attr_id');
       $.ajax({
           type:"GET",
           url:'/userEdit/'+id,
           success:function(data){
               var userid = data.data[0].userid;
               var fname = data.data[0].First_Name;
               var lname = data.data[0].Last_Name;
               var pin = data.data[0].Pin;
               $("#firstname").val(fname);
               $("#lastname").val(lname);
               $("#userpin").val(pin);
               $("#userid").val(userid);
            ;
           }
       })
     });
});

</script>
