


<div class="modal fade" id="staticModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticModalLabel">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <% if(typeof data !='undefined'){ %>
                <form method="post" action="/UserDataInserted">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="cc-payment"  class="control-label mb-1">First name</label>
                            <input name="firstName" value="<%= data.First_Name %>"  id="first_name" type="text" class="form-control" aria-required="true" aria-invalid="false" >
                        </div>
                        <div class="form-group has-success">
                            <label for="cc-name" class="control-label mb-1">Last name</label>
                            <input name="lastName" value="<%= data.Last_Name %>" id="last_name" type="text" class="form-control cc-name valid" data-val="true" data-val-required="Please enter the name on card" autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error">
                            <span class="help-block field-validation-valid" data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group has-success">
                            <label for="cc-name" class="control-label mb-1">Email</label>
                            <input name="email" value="<%= data.email %>" id="email" type="text" class="form-control cc-name valid" data-val="true" data-val-required="Please enter the name on card" autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error">
                            <span class="help-block field-validation-valid" data-valmsg-for="cc-email" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group has-success">
                            <label for="cc-name" class="control-label mb-1">Password</label>
                            <input name="password" value="<%= data.password %>" id="password" type="password" class="form-control cc-name valid" data-val="true" data-val-required="Please enter the name on card" autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error">
                            <span class="help-block field-validation-valid" data-valmsg-for="cc-password" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group">
                            <label for="cc-number" class="control-label mb-1">User pin</label>
                            <input name="pin" id="pin" value="<%= data.Pin %>" type="text" class="form-control cc-number identified visa" value="" data-val="true" data-val-required="Please enter the card number" data-val-cc-number="Please enter a valid card number" autocomplete="cc-number">
                            <span class="help-block" data-valmsg-for="cc-number" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group">
                            <label for="cc-number" class="control-label mb-1">Admin</label>
                            <input name="isAdmin" id="isAdmin" "<% if(data.isAdmin){ %>checked<% } %>" type="checkbox" class="form-control checkbox cc-number" value="" data-val="true" data-val-required="Please enter the card number" data-val-cc-number="Please enter a valid card number" autocomplete="cc-number">
                            <span class="help-block" data-valmsg-for="cc-number" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>

         <% } %>

        </div>
    </div>
</div>
